/*
 * styles.css
 * Styles de l'application
 */

body, button, input, optgroup, select, textarea {
    font-family: 'Lato', 'Segoe UI', Verdana, sans-serif;
}

/*
 * Vitrine
 */
.std-header {
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-size: cover;
    background-position: 50% 50%;
}

h1 {
    margin: 3rem;
    text-align: center;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
